@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}

p {
    color: #646f79;
}

p {
    margin-top: 2rem;
    margin-bottom: 2rem;
}


/************************** for sidebar ***********************************/

/* The sidebar menu */
.sidebar {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #3B3131; /* Black*/
    overflow-x: hidden; /* Ẩn các thẻ a theo chiều dọc */
    padding-top: 60px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/*!* The sidebar links *!*/
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar .side-header {
    margin-left: 30px;
    margin-bottom: 8px;
    color: #fff;
}

.sidebar a:hover {
    background-color: #584e46;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 2px;
    font-size: 34px;
    margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    color: #fff;
    background-color: #584e46;
    position: absolute;
    top: 25%;
    right: 0;
}

.openbtn:hover {
    color: #ECDAC9;
}


@media screen and (max-height: 450px) {
    .sidebar {
        padding-top: 15px;
    }

    .sidebar a {
        font-size: 18px;
    }

}

/************************** product table styling *********************************/

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    box-shadow: 0 2px 15px rgba(64, 64, 64, .7);
    border-radius: 12px 12px 0 0;
    margin-bottom: 50px;
}

td,
th {
    padding: 10px 16px;
    text-align: center;
}

th {
    background-color: #584e46;
    color: #fafafa;
    font-family: 'Open Sans', Sans-serif;
    font-weight: bold;
}

tr {
    width: 100%;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}


/*.form-signin #inputEmail,*/
/*.form-signin #inputPassword {*/
/*    direction: ltr;*/
/*    height: 44px;*/
/*    font-size: 16px;*/
/*}*/

/*.form-signin input[type=email],*/
/*.form-signin input[type=password],*/
/*.form-signin input[type=text],*/
/*.form-signin button {*/
/*    width: 100%;*/
/*    display: block;*/
/*    margin-bottom: 10px;*/
/*    z-index: 1;*/
/*    position: relative;*/
/*    -moz-box-sizing: border-box;*/
/*    -webkit-box-sizing: border-box;*/
/*    box-sizing: border-box;*/
/*}*/

/*.form-signin .form-control:focus {*/
/*    border-color: #ab9787;*/
/*    outline: 0;*/
/*    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #8a7a6d;*/
/*    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px #8a7a6d;*/
/*}*/

/*.btn.btn-signin {*/

/*    background-color: #584e46;*/
/*    padding: 2px;*/
/*    font-weight: 700;*/
/*    font-size: 16px;*/
/*    height: 36px;*/
/*    -moz-border-radius: 3px;*/
/*    -webkit-border-radius: 3px;*/
/*    border-radius: 3px;*/
/*    border: none;*/
/*    -o-transition: all 0.218s;*/
/*    -moz-transition: all 0.218s;*/
/*    -webkit-transition: all 0.218s;*/
/*    transition: all 0.218s;*/
/*}*/

/*.btn.btn-signin:hover,*/
/*.btn.btn-signin:active,*/
/*.btn.btn-signin:focus {*/
/*    background-color: #a56a39;*/
/*}*/


/*.box:hover .image {*/
/*    opacity: 0.3;*/
/*}*/

/*.box:hover .middle {*/
/*    opacity: 1;*/
/*}*/


/*!* *******************   cart to login icon styling   ********************* *!*/
/*.cart-login-btn {*/
/*    margin: 5px;*/
/*    border-style: outset;*/
/*}*/

/*.cart-login-btn a i {*/
/*    padding: 10px;*/
/*    font-size: 30px;*/
/*    color: #584e46;*/
/*}*/

/*.cart-login-btn a i:hover {*/
/*    color: grey;*/
/*}*/

/* ****************************   footer  *************************** */
/*INPUT CSS SUBMIT*/

input[type=submit] {
    padding: 8px;
    color: black;
    background: #f0ad4e; /* Black*/;
    border: white;
    cursor: pointer;
    border-radius: 8px;
    font-weight: 600;
}
