h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #ee5057;
}


a:focus {
    outline: 0 solid;
}

/********************LOGO_HEADER**************/
.logo img {
    width: 30%;
}

.logo h1 {
    font-size: 40px;
    margin: 30px 0;
    font-weight: 400;
}

.logo h1 a {
    color: #999;
}

.logo h1 a:hover {
    text-decoration: none;
    opacity: .7
}

/********************CART_HEADER**************/
.shopping-item {
    float: right;
    font-size: 18px;
    margin-top: 60px;
    padding: 10px;
    position: relative;
    background: #ee5057;
    border-color: #ee5057;
}

.shopping-item a {
    color: #fff;
    text-decoration: none
}

.shopping-item i.fa {
    margin-left: 15px;
}

.product-count {
    background: none repeat scroll 0 0 #ee5057;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    font-size: 10px;
    height: 20px;
    position: absolute;
    top: -10px;
    right: -10px;
    text-align: center;
    width: 20px;
}

/*******************PHẦN HEADER***************/
.mainmenu-area {
    background: none repeat scroll 0 0 #fbfbfb;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    width: 100%;
    z-index: 999;
}

.mainmenu-area ul.navbar-nav li a {
    color: #6e6a6a;
    font-size: 14px;
    padding: 20px;
}

.mainmenu-area ul.navbar-nav li:hover a {
    background: #ee5057;
    color: #FFF;
}

/******************PHẦN SẢN PHẨM CỦA TỪNG THẺ LI TRONG HEADER************/
.maincontent-area {
    padding-bottom: 50px;
    padding-top: 20px;
}

.section-title {
    font-family: "Raleway", sans-serif;
    font-size: 50px;
    font-weight: 100;
    margin-bottom: 50px;
    text-align: center;
}

.single-product h2 {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
}

.single-product h2 a {
    color: #222;
}

.single-product p {
    color: #ee5057;
    font-weight: 700;
}

/*Tràn thì ẩn*/
.single-product {
    overflow: hidden;
}

.single-product:hover .product-hover a.add-to-cart-link {
    top: 35%;
}

.single-product:hover .product-hover:after {
    left: 0
}

/*Ảnh*/
.product-f-image {
    position: relative;
}

.product-hover {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    border: 1px solid #ddd;
}

.product-hover:after {
    background: none repeat scroll 0 0 #000;
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    opacity: 0.6;
    transition: .4s;
}

.product-hover a {
    background: none repeat scroll 0 0 #ee5057;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    margin: 0;
    padding: 10px;
    display: block;
    border: 1px solid #ee5057;
    position: absolute;
    top: 10%;
    left: 10%;
    text-align: center;
    text-transform: uppercase;
    width: 80%;
    z-index: 99;
    transition: .4s;
}

.product-hover a:hover {
    background: #000;
    text-decoration: none;
    border-color: #444;
}

.product-hover a i.fa {
    margin-right: 5px;
}

.product-carousel-price ins {
    color: #ee5057;
    font-weight: 700;
    margin-right: 5px;
    text-decoration: none;
}

.product-hover a.add-to-cart-link {
    top: -25%;
}


/**************FOOTER TOP************/
.footer-top-area {
    background: none repeat scroll 0 0 #333;
    color: #999;
    padding: 35px 0 180px;
}

.footer-about-us span {
    color: #ee5057;
}

.footer-about-us h2 {
    font-weight: 200;
}

.footer-menu ul {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}

.footer-menu ul li {
    border-bottom: 1px dashed #555;
    padding: 5px 0;
}

.footer-menu a {
    display: block;
    padding: 5px 0;
    color: #999;
}

.footer-wid-title {
    font-family: raleway;
    font-size: 25px;
    font-weight: 100;
    color: #fff
}

.footer-social a {
    background: none repeat scroll 0 0 #ee5057;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 5px;
    text-align: center;
    font-size: 20px;
    border: 1px solid #ee5057;
}

.footer-social a:hover {
    background-color: #222;
    border-color: #666
}

.footer-social {
    margin-top: 20px
}

/**************FOOTER TOP************/

/**************FOOTER BOTTOM************/

.footer-bottom-area {
    background: #000;
    color: #fff
}

.footer-bottom-area {
    background: none repeat scroll 0 0 #000;
    color: #fff;
    padding-bottom: 40px;
}

.footer-card-icon {
    font-size: 30px;
    text-align: right;
}

.copyright p {
    margin: 10px 0 0;
}

a:hover {
    color: #17a78b;
}

/******************SLIDER INDEX******************/

.slider-area {
    width: 80%;
    position: relative;
    margin: 0 auto;
    padding: 5px;
}

.block-slider img {
    width: 35%;
    height: auto;
    position: relative;
    top: 26%;
    left: 16%;
}

.block-slider {
    border: none;
    width: 100%;
}

.block-slider ul li {
    list-style: none;
}

.block-slider .bx-pager {
    display: none;
}

.block-slider .bx-prev,
.block-slider .bx-next {
    width: 32px;
    height: 32px;
    border: 1px solid #eaeaea;
    text-align: center;
    display: block;
    border-radius: 50%;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 29px;
    transition: all 0.45s ease;
}

.block-slider .bx-prev {
    left: 0;
    padding-right: 3px;
}

.block-slider .bx-next {
    right: 0;
    padding-left: 3px;
}

.block-slider:hover .bx-prev {
    left: 10px;
}

.block-slider:hover .bx-next {
    right: 10px;
}

.block-slider .bx-prev:hover,
.block-slider .bx-next:hover {
    background: #ee5057;
    color: #fff;
    border-color: #ee5057;
}

.block-slider .bx-pager {
    display: block;
    text-align: center;
}

.block-slider .bx-pager-item {
    width: 15px;
    height: 15px;
    background: #fff;
    font-size: 0;
    display: inline-block;
    border-radius: 50%;
    margin: 0 3px;
}

.block-slider .bx-pager-item a {
    width: 100%;
    height: 100%;
    background: #999;
    display: block;
    border-radius: 50%;
}

.block-slider .bx-pager-item a.active {
    background: #1bd172;
}

.block-slider .caption-group {
    position: absolute;
    top: 26%;
    right: 16%;
}

.block-slider .caption-group .title {
    margin: 0;
}

.block-slider .caption-group .subtitle {
    margin: 0;
    margin-top: 5px;
}

.block-slider .caption-group .button-radius {
    margin-top: 27px;
}

.button-radius {
    position: relative;
    border: 1px solid #eaeaea;
    padding: 1px;
    min-height: 34px;
    background: #fff;
    display: inline-block;
    width: auto;
    line-height: 30px;
    padding-left: 40px;
    padding-right: 20px;
    margin: 0;
    color: #666666;
    border-radius: 17px;
    transition: all 1s ease;
    margin-top: 10px;
    font-size: 14px;
}

.button-radius .icon {
    transition: all 1s ease-out;
    position: absolute;
    left: 2%;
    top: 2px;
    overflow: hidden;
}

.button-radius .icon:before {
    font-family: 'FontAwesome';
    content: "\f105";
    font-size: 14px;
    color: #fff;
    width: 28px;
    height: 28px;
    background-color: #ee5057;
    border-radius: 90%;
    text-align: center;
    line-height: 26px;
    float: left;
    transition: all 1s ease-out;
}

.button-radius.white {
    border-color: #fff;
    color: #fff;
    background: transparent;
}

.button-radius:hover .icon {
    left: 100%;
    margin-left: -30px;
}

.button-radius:hover {
    padding-left: 20px;
    padding-right: 40px;
}


/******************SLIDER INDEX******************/


/***********************GET 4 INDEX ********************/
.promo-area {
    background: #fbfbfb;
    color: #fff;
    padding: 40px 0 40px;
}

.single-promo {
    font-size: 25px;
    font-weight: 200;
    padding: 20px 10px;
    text-align: center;
}

.single-promo i {
    font-size: 50px;
}

.single-promo:hover {
    color: #fff;
    background: #222;
}

.promo1 {
    background: #ee5057;
}

.promo2 {
    background: #ffd900;
}

.promo3 {
    background: #fa8072;
}

.promo4 {
    background: #4abebd;
}

/***********************GET 4 INDEX********************/

/*************GET SẢN PHẨM RANDOM*************/
.product-widget-area {
    padding-bottom: 30px;
    padding-top: 30px;
}

.product-wid-title {
    font-family: raleway;
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 40px;
}


.single-product-widget {
    position: relative;
}

.single-wid-product {
    margin-bottom: 31px;
    overflow: hidden;
}

.single-wid-product h2 {
    font-size: 14px;
    margin-bottom: 12px;
}

.product-wid-rating {
    color: #ffc808;
    margin-bottom: 10px;
}

.product-wid-price ins {
    color: #ee5057;
    font-weight: 700;
    margin-right: 10px;
    text-decoration: none;
}

.single-wid-product h2 a {
    color: #222;
}

.single-wid-product h2 a:hover, .single-product h2 a:hover {
    color: #ee5057;
}

.recent-thumb {
    float: left;
    height: auto;
    margin-right: 15px;
    width: 63px;
}

/*************GET SẢN PHẨM RANDOM*************/